form {
  max-width: 500px;
  background: #eee;
  padding: 20px;
}

input,
textarea {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 85%;
}

label {
  font-size: 80%;
  padding-bottom: 5px;
}

.btn {
  background: red;
  font-weight: 400;
  font-size: 85%;
  color: #fff;
  border: 1px solid #fff;
  margin-top: 15px;
  padding: 5px 15px;
  transition: 1s all ease;
  cursor: pointer;
}

.btn:hover {
  background: #000;
}
